<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
      th:fragment="layout (template, menu)">
    <head>
        <title>CRUD Gestor Teste</title>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
        <script type="text/javascript" src="/static/app/gestor.controller.js" th:src="@{/app/gestor.controller.js}"></script>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top navbar-inverse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                    </li>
                    <li>
                        <a><span class="glyphicon glyphicon-user"></span> Adicionar Gestor</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:replace="${template}"/>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>